<h1>GET Request</h1>

<form action="/the_user_submitted_the_form" method="GET">
  <input name="the_email_that_the_user_submitted">
  <input type="submit" value="submit the form">
</form>

<h1>POST Request</h1>

<form action="/the_user_submitted_the_form_post" method="POST">
  <input name="the_email_that_the_user_submitted">
  <input type="submit" value="submit the form">
</form>
